@import "./styles.scss";

.archive-section {
    padding-top: 70px;
}

.archive-title {
  font-size: 30px;
}

.item {
  margin-top: 35px;
}

.item__title {
  font-size: 20px;
  color: #1C274C;
  margin-bottom: 25px;
}

.item__address {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.item__address-icon {
  width: 35px;
  height: 35px;
  flex-shrink: 0;
}

.item__address-text {
  font-size: 14px;
  color: #1C274C;
  margin-left: 3px;
}

.item__description {
  margin-top: 10px;
  color: #333;
  font-size: 15px;
}

@include media-breakpoint-up(md) {
  .item__title {
    margin-bottom: 5px;
  }

  .item__address {
    margin-bottom: 0;
  }
}