.sidebar
{
    margin:0;
}

.sidebar__title
{
    font-size: 1.3rem;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 10px;
}

.sidebar__list
{
    list-style: none;
    padding: 0;
    padding-left: 10px;
}