// Import all of Bootstrap’s CSS
//@import "bootstrap/scss/bootstrap";

//Custom Bootstrap imports
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";

@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";

@import "~bootstrap/scss/utilities";

$utilities: (
  "flex": map-get($utilities, "flex"),
  "display": map-get($utilities, "display"),
  "margin": map-get($utilities, "margin"),
  "margin-top": map-get($utilities, "margin-top"),
  "margin-bottom": map-get($utilities, "margin-bottom"),
  "margin-start": map-get($utilities, "margin-start"),
  "margin-end": map-get($utilities, "margin-end"),
  "margin-x": map-get($utilities, "margin-x"),
  "margin-y": map-get($utilities, "margin-y"),
  "padding": map-get($utilities, "padding"),
  "padding-top": map-get($utilities, "padding-top"),
  "padding-bottom": map-get($utilities, "padding-bottom"),
  "padding-start": map-get($utilities, "padding-start"),
  "padding-end": map-get($utilities, "padding-end"),
  "padding-x": map-get($utilities, "padding-x"),
  "padding-y": map-get($utilities, "padding-y")
);

@import "~bootstrap/scss/utilities/api";

:root{
  --black: #09080e;
  --white: #eeeeee;
  --gray: #495057;
}

.section {
  margin-top: 50px;
}

.text-center {
  text-align: center;
}

.mb-subtitle {
  margin-bottom: 20px;
  margin-top: 40px;
}

.image {
  width: 100%;
  height: auto;
}

.menu
{
    background-color: var(--black);
    color: var(--white);
    position: fixed;
    width: 100%;
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: bolder;
    z-index: 9999;
}

.menu__list
{
    list-style: none;
}

.footer {
  background-color: var(--black);
  color: var(--white);
  padding: 20px 0;
  margin-top: 80px;
  text-align: center;
}