:root{
  --black: #09080e;
  --white: #eeeeee;
  --gray: #495057;
}

.m-0 {
  margin: 0!important;
}

.section {
  margin-top: 30px;
}

.text-center {
  text-align: center;
}

.mb-subtitle {
  margin-bottom: 20px;
  margin-top: 40px;
}

.image {
  width: 100%;
  height: auto;
}

.menu
{
    background-color: var(--black);
    color: var(--white);
    position: fixed;
    width: 100%;
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: bolder;
    z-index: 9999;
}

.menu__list
{
    list-style: none;
    display: flex;
    justify-content: end;
    margin: 0;
}

.menu__list li
{
    margin-left: 20px;
}

.menu__list li a
{
    color: var(--white);
    text-decoration: none;
}

.footer {
  background-color: var(--black);
  color: var(--white);
  padding: 20px 0;
  margin-top: 80px;
  text-align: center;
}